PAYLOAD_SECRET=replace-with-a-long-random-secret
DATABASE_URL=postgresql://127.0.0.1:5432/flatpackwholehome
PAYLOAD_RUN_MIGRATIONS=false

COMPANY_NAME="The Flat Set"
TWITTER_CREATOR="@theflatset"
TWITTER_SITE="https://theflatset.com"
SITE_NAME="The Flat Set | Your Entire Home. Delivered in 6 Flat Boxes."

PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

PREVIEW_SECRET=replace-with-a-random-preview-secret
